html, body {
  height: 100%;
  overflow: hidden;
  color: white;
  background-color: #0b091d;
}

body {
  font-family: helvetica;
  font-weight: 400;

}

.rect {
  width: 200%;
  height: 100px;
  background: linear-gradient(to left, darkred, #0b091d);
  // background-position-x: -400px;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateX(-50%);
  transition: all 300ms ease;
  &.back {
    transform: translateX(0%);

  }
}

.cir {
  width: 100vw;
  height: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  background: radial-gradient(rgba(#6087e2, .4) 0%, rgba(#e2d897, 0) 40%);
  opacity: 0;
  transition: all 1000ms ease;
  transform: scale(0.3);
  &.back {
    opacity: 1;
    transform: scale(2);
  }
}

.channel_columns {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: .7rem;
  h1, h2 {
    font-size: inherit;
    text-transform: uppercase;
    letter-spacing: .3em;
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

  }
  .channel_column {
    width: 50px;
    float: left;
  }
}